dist-newstyle
dist
**/.DS_Store
.stack-work
.stack-work/*
**/*.o
**/*.hi
**/*~
**/*.agdai

temp/*

**/*.gch

**/a.out.dSYM

## Core latex/pdflatex auxiliary files:
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.fls
**/*.out
**/*.toc
**/*.vtc
**/*.blg
**/*.bbl

**/*.pdf

